@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

html {
    font-family: arial;
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99vh;
    border: solid black 1px;
}

.cer-of, .prs-to, #name, #details {
    transform: translateY(200px);
}

#name, #details, #signature, #act {
    transition: 1s;
    cursor: pointer;
    text-decoration: underline;
}
#act {
    text-decoration: none;
}
#name:hover, #details:hover, #signature:hover, #act:hover {
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
}

#signature {
    font-family: "Hurricane", serif;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#time {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.flex {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10em;
}