@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

html {
    font-family: arial;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.badge {
    /* position: absolute; */
    /* left: 23%; */
    /* bottom: 25%; */
    height: 240px;
    transform: translateY(200px);
}
.cart {
    position: absolute;
    height: 100px;
    top: 100px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cer-of, .prs-to, #name, #details {
    transform: translateY(200px);
}

#name, #details, #signature, #act {
    transition: 1s;
    cursor: pointer;
    text-decoration: underline;
}
#act {
    text-decoration: none;
}
#name:hover, #details:hover, #signature:hover, #act:hover {
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
}

#signature {
    font-family: "Hurricane", serif;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#time {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.flex {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10em;
}

.m-badge {
    position: absolute;
    right: 2%;
    top: 50%;
    transition-duration: 1s;
    opacity: 0;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.m-logo {
    position: absolute;
    right: 2%;
    top: 36%;
    transition-duration: 1s;
    opacity: 0;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file:hover {
    scale: 1.1;
    opacity: 100%;
}

.print {
    position: absolute;
    bottom: 11%;
    padding: 1em;
    background-color: rgba(246, 246, 246, 0.788);
    font-weight: 700;
}
.print:hover {
    width: 6em;
}

.back {
    position: absolute;
    left: 2%;
    top: 2%;
    padding: 2em;
    border-radius: 2em;
    border: 4px solid black;
}
.back:hover {
    border-radius: 10em;
}

@media print {
    .print {display: none;}
    .back {display: none;}
}